
body {
	background-image: url("../images/seigaiha.png");
	border: solid;
	border-width: 1px;
	border-color: #dddddd;
}

a {
	text-decoration: none;
	color: #cccccc;
}


#header {
	background-color: #ffffff;
	width : 100%;
	height: 80px;
	border: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #cccccc;
	float: left;

}

#namebox {
	background-color: #4aaaa5;
	width: 185px;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	color: white;
	float: left;
	margin: 0px 0px 0px 80px;
	padding: 10px;
}

nav {
	right: 140px;
	position: absolute;
	margin: 25px 5px 5px 5px;

}

ul {
	padding: 10px;
	margin: 0px auto 0px auto;
	
}

li {
	display: inline;
	border: solid;
	padding: 10px;
	border-color: #cccccc;
	border-width: 0px 1px 0px 0px;

}

li:last-child {
	border-right: none;
}


#maincontent {
	width: 100%;
	height: 100%;
}

#maincontentframe {
	width: 650px;
	position: relative;
	left: 80px;
	top:  120px;
	background-color: white;
	padding: 65px 10px 0px 10px;
}

#InsideFrameTitle {
	width: 630px;
	position: absolute;
	top: 28px;
	color:  #4aaaa5;
	font-size: 34px;
	border: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #cccccc;
	padding: 0px 10px 15px 10px;

}

#biophoto {
	float: left;
}

.indicies {

}
#animalbar {
	width: 180px;
	background-color:  #4aaaa5;
	top: 260px;
	font-size: 18px;
	color: white;
	position: absolute;
	z-index: 10;
	text-align: center;

}

button {
	background-color: #4aaaa5;
	color: white
}

#sidebarpanel {
	position: absolute;
	top: 120px;
	background-color: white;
	/*background: #999;*/
	padding: 20px;
	right: 100px;
	text-align: center;
}

#InsideSidebarTitle {
	width: 270px;
	background-color: white;
	color:  #4aaaa5;
	font-size: 24px;
	

}

#IconBar {
	text-align: center;
	width: 250px;
	border: solid;
	border-color: #cccccc;
	border-width: 2px 0px 0px 0px;
	padding: 10px 0px 10px 0px;

}



#footer {
	text-align: center;
	background-color: #666666;
	color: #cccccc;
	/*color: white;*/
	height: 35px;
	width: 100%;
	/*<-- the padding went away when I added the reset css --> */
	padding: 25px 0px 0px 0px;
	border: solid;
	border-width: 5px 0px 0px 0px;
	border-color:  #4aaaa5;
	position: absolute;
	bottom: 0;

}	



